# See https://dart.dev/guides/libraries/private-files

.dart_tool/
.packages
build/
pubspec.lock  # Except for application packages

doc/api/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Mac
.DS_Store

.travis.yml
analysis_options.yaml
git_push.sh
pubspec.lock
pubspec.yaml
README.md


**/

